:root {
    --fontcolor: #90ee90;
    --bgcolor: #1F1F1F;
}

* {
    font-family: monospace;
}

body {
    background-color: var(--bgcolor);
    color: var(--fontcolor);
    /* height: 1vh; */
}
h1 {
    font-family: 'VT323', monospace;    
}

.boxstyle {
    height: fit-content;
    text-align: center; 
};

.smallertext {
    font-size: 1vh;
}

#mainholder {
    display: flex;
    justify-content: center;
    align-items: center;   
    text-align: center;
}


#textcontent {
    width: 50%;
    height: 27px; 
    font-size: 1.75vh;
    color: var(--fontcolor);
    background-color: var(--bgcolor);
    border-style: outset;
    border-width: 0px 3px 3px 0px;
    border-color: grey;
    text-shadow: -1px 1px 0 black,
                          1px 1px 0 black,
                         1px -1px 0 black,
                        -1px -1px 0 black;
}

#textcontent:focus {
    border-color: grey
}

#textcontent::placeholder {
    font-size: 1.75vh;
    color: var(--fontcolor);
    text-shadow: -1px 1px 0 black,
                          1px 1px 0 black,
                         1px -1px 0 black,
                        -1px -1px 0 black;
}

div div form button {
    width: 15%;
    vertical-align: bottom;
    height: 33px;
    font-size: 1.9vh;
    background-color: var(--bgcolor);
    border-style: outset;
    border-width: 0px 3px 3px 0px;
    border-color: grey;
    color: var(--fontcolor);
    text-shadow: -1px 1px 0 black,
                          1px 1px 0 black,
                         1px -1px 0 black,
                        -1px -1px 0 black;
}

div div form button:hover {
    cursor: pointer;
    background-color: #393939;
}

div div form button:focus {
    background-color: var(--bgcolor);
}

#maincontent {
    text-align: center;
    width: 625px;
    font-size: 1.75vh;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;   
    text-align: center;
}

.saveload {
    background-color: var(--bgcolor);
    border-style: none;
    color: var(--fontcolor);
    float: right;
}

.saveload:hover {
    cursor: pointer;
    text-decoration: underline;
}

#companyHomepage {
    font-family: 'VT323', monospace;
    font-size: 2vh;
}

#githubLink {
    font-family: 'VT323', monospace;
    font-size: 2vh;
    padding-left: 0%;
}

.leftcontent {
    background-color: var(--bgcolor);
    border-style: none;
    color: var(--fontcolor);
}

.leftcontent:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 2.5rem;   
}